#title{
  display:flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 20px);
  width: 500px;
  height: 500px;
  justify-content: center;
  align-self: center;
  margin-top: 3rem;
  margin-left: 43rem;
  border: 1px solid rgb(3, 3, 3);
}

.square {
  width: 20px;
  height: 20px;
}


#brush-size {
  display: flex;
  margin-left: 43rem;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.slider {
  width: 100%;
}


#erase{
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none; 
  margin-left: 55rem;
}

#erase:hover{
  background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#5972a7;
}

#erase:active{
  position:relative;
	top:1px;
}

.colors{
  display: grid;
  grid-template-columns: repeat(3, 0.07fr);
  grid-template-rows: repeat(2, 0.2fr);
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#red{
  background-color: rgb(248, 14, 14);
}
#blue {
  background-color: rgba(6, 77, 230, 0.98);
}
#green{
  background: rgba(7, 223, 17, 0.98);
}
#orange{
  background: rgb(247, 121, 4)
}
#purple{
  background-color: rgb(140, 6, 250);
}
#black{
  background-color: rgb(3, 3, 3);
}


#red:hover{
  background-color: rgb(180, 6, 0);
}

#blue:hover{
  background-color: rgba(0, 48, 153, 0.979);
}

#green:hover{
  background-color: #019108fa;
}

#orange:hover{
  background-color: rgb(139, 67, 0);
}

#purple:hover{
  background-color: #480480;
}

#black:hover{
  background-color: rgb(58, 58, 58);
}
